<app-header></app-header>
<div class="lawyer-bg">
    <h1 class="fs-1 fw-bold text-center text-dark service-h1"><span class="text-white">Consult</span> Best Lawyers</h1>
</div>

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-3">
            <h1 class="text-center">Search</h1>
            <form class="row g-3">
                <div class="col-md-12">
                    <select id="inputState" class="form-select">
                        <option selected>Select City</option>
                        <option>Pudukkottai</option>
                        <option>Trichy</option>
                        <option>Chennai</option>
                        <option>Kumbakonam</option>
                        <option>Karaikal</option>
                        <option>Karur</option>
                    </select>
                </div>

                <div class="col-md-12">
                    <select id="inputState" class="form-select">
                        <option selected>Select Exprience (Years)</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                </div>

                <div class="col-md-12">
                    <select id="inputState" class="form-select">
                        <option selected>Select Language</option>
                        <option>Tamil</option>
                        <option>English</option>
                        <option>Hindi</option>
                        <option>Malayalam</option>
                        <option>Telugu</option>
                        <option>Kannadam</option>
                    </select>
                </div>

                <div class="col-md-12">
                    <select id="inputState" class="form-select">
                        <option selected>Select Practice Area</option>
                        <option>Family</option>
                        <option>Bussiness</option>
                        <option>Corporate</option>
                        <option>Civil</option>
                        <option>Criminal</option>
                    </select>
                </div>

                <div class="text-center">
                    <button type="button" class="btn btn-light appointment-btn text-white fw-bold"
                        style="background-color: #223a66;">&nbsp; &nbsp; Filter &nbsp; &nbsp;</button>
                </div>
            </form> <br>
        </div>
        <div class="col-md-9">
            <h2>Consult Best Lawyers</h2>
            <p class="fw-bold mt-3 guardian">Family Law</p>
            <p>If you are finding it difficult to deal with matrimonial cases, mutual divorce, child custody, alimony or
                contested divorce matters, you can use Find My Lawyer(The FML) to find best divorce lawyers. Contact the
                divorce lawyers listed on our platform and consult them for File Divorce, Appeal Divorce, Christian
                Divorce, Muslim Divorce, Child Custody, Court Marriage, Null & Void Marriage, Family Dispute, Domestic
                Violence, Maintenance or any other related issue</p>
            <div class="bg lawyer-detail border mt-3"  *ngFor="let item of details">
                <div class="row">
                    <div class="col-md-2">
                        <div class="text-center">
                            <img src="{{item.image}}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6 ps-5" >
                        <h4>{{item.name}}</h4>
                        <div class="reviews">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#!" class=" text-decoration-none text-secondary"><i class="fa fa-phone text-primary"
                                aria-hidden="true"></i><span class="text-primary">
                                {{item.number}}
                            </span></a> <br>

                        <a href="#!" class=" text-decoration-none text-secondary"><i class="fa fa-language text-primary"
                                aria-hidden="true"></i><span class="text-primary">
                                Languages: {{item.language}}
                            </span></a> <br>

                        <a href="#!" class=" text-decoration-none text-secondary"><i
                                class="fa fa-balance-scale text-primary" aria-hidden="true"></i><span
                                class="text-primary">
                                <b>Practice Area:</b> {{item.practice}}
                            </span></a>

                    </div>
                    <div class="col-md-4 pt-5 ps-5">
                        <a href="#!" class=" text-decoration-none text-secondary"><i class="fa fa-envelope text-primary"
                                aria-hidden="true"></i><span class="text-primary">
                                {{item.mail}}
                            </span></a> <br>

                        <a href="#!" class=" text-decoration-none text-secondary"><i
                                class="fa fa-map-marker text-primary" aria-hidden="true"></i><span class="text-primary">
                                {{item.place}}
                            </span></a> <br>
                        <a href="#!" class=" text-decoration-none text-secondary"><i
                                class="fa fa-balance-scale text-primary" aria-hidden="true"></i><span
                                class="text-primary">
                                <b>Experience:</b> {{item.experience}}
                            </span></a>


                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-light mt-3 mb-3 text-white fw-bold"
                        style="background-color: #223a66;" routerLink="/appoinment">&nbsp; &nbsp; Get Appointment &nbsp; &nbsp;</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>