.lawyer-bg{
    background: url("/assets/carousel-img/Lawyer-Wallpaper-HD.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 0.9;
    height: 300px;
 
}
.service-h1{
    padding-top: 100px;
   padding-right: 55px;
}
.appointment-btn{
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
}
.guardian{
    text-align: justify;
    margin: 0;
}
.lawyer-detail{
    width: 80%;
margin-left: 40px;
}

.img-fluid{
    width: 100%;
    padding: 10px;
}
.reviews{
    color: #f9d71c;
}