.service-bg{
    background: url("/assets/contact/contact-bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 0.9;
    height: 300px;
 
}
.service-h1{
    padding-top: 100px;
   
}


.appointment-btn{
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
}
.map{
    width: 100%;
    height: 450px;
}
.flag{
    width: 100%;
   height: 25px;
    
}