<nav class="navbar navbar-expand-lg sticky-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./assets/logo/law-logo.png" alt="logo" class="lawyer-logo">
    </a>
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white active fw-bold" aria-current="page" href="#" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-bold" href="#" routerLink="/about" routerLinkActive="active-link">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white fw-bold" data-bs-auto-close="outside" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false" routerLinkActive="active-link">
            Find A Lawyer
          </a>
          <ul class="dropdown-menu">
            <li class="dropend">
              <a class="dropdown-item dropdown-toggle " data-bs-toggle="dropdown" href="#">Family Lawyer</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">File Divorce</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Appeal Divorce</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Christian Divorce</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Muslim Divorce</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Child Custody</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Court marriage</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Marriage Registration</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Null & Void Marriage</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Family Dispute</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Domestic Violence</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Maintenance</a></li>
              </ul>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropend">
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Criminal Lawyer</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Session Court</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">High Court</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Criminal Trail</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Bail</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Anticipatory bail</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Statement CRPC 164 </a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Criminal Appeal</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Couple Protection</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Cyber Froud</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Statement At Police</a></li>
              </ul>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropend">
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Civil Lawyer</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Cheque Bounce</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Employemnt Matter</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">RERA Suits</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Illegal Possesion</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Builder Delay Fraud</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Money Recovery</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">NRI Property Issue</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Consumer Court</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Arbitration</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Property Dispute</a></li>
              </ul>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropend">
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Drafting</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Notice Cheque Bounce</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Legal Notice Divorce</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Any Legal Notice</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Employment Drafting</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Corporate Drafting</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Real Estate</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Website Polices</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Agreements</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Intimation Letters</a></li>
              </ul>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropend">
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Corporate Service</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">PAN Card Registration</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Company Registration</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">GST Registration</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Copyright</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Bussiness Compliance</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Startup Compliance</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Taxation Registration</a></li>
              </ul>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropend">
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">Others</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Accident Insurance Issue</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Bussiness Fight</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Supreme Court Matters</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#" routerLink="/lawyer">Immigration Issue</a></li>
              </ul>
            </li>


          </ul>
        </li>
        <li class="nav-item"> 
          <a class="nav-link text-white fw-bold" routerLink="/service" routerLinkActive="active-link">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-bold" routerLink="/Contact" routerLinkActive="active-link">Contact</a>
        </li>
        <li class="nav-item nav-item-1">
          <button class="btn btn-outline-warning fw-semibold" type="submit" routerLink="/login">Login</button>
        </li>
      </ul>
    </div>
  </div>
</nav>