<div class="container-fluid ">
    <div class="row">
        <div class="col-md-12">
            <div class="row bg-dark">
                <div class="col-md-4 bg-dark">
                    <div class="text-center">
                        <img src="./assets/logo/law-logo.png" alt="" class="logo mt-5">
                    </div>
                    <div class="card mt-4 mb-5">
                        <h5 class="text-center mt-4 fw-bold">Create An Account</h5>
                        <p class="text-secondary text-center mb-4">Already Have An Account? <a href=""
                                class="text-primary text-decoration-none" routerLink="/login">Login</a></p>
                        <form>
                            <div class="container">
                                <div class="row  mb-3 g-4">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control text-secondary"
                                            id="formGroupExampleInput" placeholder="Advocate Name" required>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="email" class="form-control text-secondary"
                                            id="formGroupExampleInput" placeholder="Email" required>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group ">
                                            <span class="input-group-text bg-white"><img
                                                    src="./assets/icon/india (2).png" alt=""
                                                    class="flag">&nbsp;+91</span>
                                            <input type="tel" class="form-control " id="formGroupExampleInput"
                                                placeholder="Enter Your Mobile Number" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="password" class="form-control text-secondary" id="inputPassword4"
                                            placeholder="Password" required>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="password" class="form-control text-secondary" id="inputPassword4"
                                            placeholder="Confirm Password" required>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <label class="form-check-label " for="gridRadios1">
                                            Gender : &nbsp;
                                        </label>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio1" value="option1">
                                            <label class="form-check-label" for="inlineRadio1">Male</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">Female</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="inlineRadio3" value="option3">
                                            <label class="form-check-label" for="inlineRadio3">Others </label>
                                        </div>
                                    </div>

                                    <div class="col-md-12">

                                        <select id="inputState" class="form-select text-secondary">
                                            <option selected>Choose State</option>
                                            <option>Tamil Nadu</option>
                                            <option>Kerla</option>
                                            <option>Karnataka</option>
                                            <option>Andhara</option>
                                            <option>Madhya Pradesh</option>
                                            <option>Hariyana</option>
                                        </select>
                                    </div>

                                    <div class="col-md-12">

                                        <select id="inputState" class="form-select text-secondary">
                                            <option selected>Select City</option>
                                            <option>Pudukkottai</option>
                                            <option>Trichy</option>
                                            <option>Chennai</option>
                                            <option>Kumbakonam</option>
                                            <option>Karaikal</option>
                                            <option>Karur</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">

                                        <select id="inputState" class="form-select text-secondary">
                                            <option selected>Select Practice Court</option>
                                            <option>High Court</option>
                                            <option>Supreme Court</option>
                                            <option>District Court</option>
                                            <option>Subordinate Court</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">

                                        <select id="inputState" class="form-select text-secondary">
                                            <option selected>Select Practice Area</option>
                                            <option>Family Law</option>
                                            <option>Corporate Law</option>
                                            <option>Civil Law</option>
                                            <option>Bussiness Law</option>
                                            <option>Criminal Law</option>
                                        </select>
                                    </div>

                                    <div class="col-md-12">

                                        <select id="inputState" class="form-select text-secondary">
                                            <option selected>Select Languages</option>
                                            <option>Tamil</option>
                                            <option>English</option>
                                            <option>Telugu</option>
                                            <option>Hindi</option>

                                        </select>
                                    </div>

                                    <div class="col-md-12">
                                        <select id="inputState" class="form-select text-secondary">
                                            <option selected>Select Exprience (Years)</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control text-secondary"
                                            id="formGroupExampleInput" placeholder="Law Firm Name" required>
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="form-control text-secondary" id="exampleFormControlTextarea1"
                                            placeholder="Enter Your Law Firm Address 1" rows="2"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="form-control text-secondary" id="exampleFormControlTextarea1"
                                            placeholder="Enter Your Law Firm Address 2" rows="2"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control text-secondary"
                                            id="formGroupExampleInput" placeholder="Enrollment Number (Ex:TS/****/****)"
                                            required>
                                    </div>

                                    <div class="col-md-12">
                                        <label for="formFile" class="form-label text-secondary">Upload Enrollment
                                            Certificate: (.pdf/.docs)</label>
                                        <input class="form-control" type="file" id="formFile">
                                    </div>

                                    <div class="text-center">
                                        <button type="button" class="btn btn-light appointment-btn text-white fw-bold"
                                            style="background-color: #223a66;" routerLink="/login">&nbsp; &nbsp; Submit
                                            &nbsp; &nbsp;</button>
                                    </div>
                                </div>
                            </div>
                        </form>


                    </div>

                </div>
                <div class="col-md-8 d-none d-md-block d-lg-block d-xl-block d-xxl-block">
                    <img src="./assets/about us/1200px-HistoricMNsupreme.jpg" alt="" class="login-img login-img">
                </div>
            </div>
        </div>
    </div>
</div>