<div class="about-bg">
    <h1 class="fs-1 fw-bold text-white text-center about-h1">About Us</h1>
</div>


<div class="bg-light">
    <div class="container space">
        <div class="row ">
            <div class="col-md-6">
                <h6 class="card-text  fw-bold" style="color: #223a66;">ABOUT FINDMYLAWYER</h6> <br>
                <h1 class=" fw-bold" style="color: #223a66;">Consulting With A Lawyer</h1>
                <p class="fs-6 fw-semibold text-secondary">If you have a legal problem, and need immediate help, you can
                    consult with a lawyer online here. Get a quick response to your legal inquiry from a qualified
                    attorney in your area.</p>
                <p class="fs-6 fw-semibold text-secondary">We help you to consult with the well experienced team of
                    lawyers, researchers & experts carry daily research on all latest current & new law, judgments &
                    Court decisions and allows to hire the best lawyers in India for District Courts, High Court &
                    Supreme Court matters.</p>
                <p class="fs-6 fw-semibold text-secondary">Our Online Lawyer Consultation Service is easy to use, and
                    let's you reach out to several attorneys that focus on any type of legal case. The best part is,
                    it's free to use, and it only takes a few minutes.</p>
            </div>
            <div class="col-md-6">
                <img src="" alt="" class="about-img">
            </div>
        </div>
    </div>
</div>

<div class="Consult-bg top">
    <h1 class="fs-1 fw-bold text-light text-center pt-5">Are You Looking For A Consultation?</h1>
    <div class="text-center">
        <button type="button" class="btn btn-light appointment-btn text-white fw-bold" routerLink="/lawyer"
            style="background-color: #223a66;">&nbsp; &nbsp; Book Your Appoinment &nbsp; &nbsp; <i
                class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp; &nbsp;</button>
    </div>
</div>
<div class="bg-light">
<div class="container space">
    <div class="row">
        <div class="col-md-6">
<img src="/assets/about us/1200px-HistoricMNsupreme.jpg" alt="" class="about-img"> <br> <br>
        </div>
        <div class="col-md-6">
           
                <h1 class=" fw-bold" style="color: #223a66;">Why Us FindMyLawyer?</h1>
                <p class="fs-6 fw-semibold text-secondary"><b>Privacy -</b> We maintain the full privacy of the documents & details of the clients. We always maintain the personal details of the clients & never share them with anyone.</p>
                <p class="fs-6 fw-semibold text-secondary"><b>Case Track -</b> Our clients can easily track their case status from the online dashboard. They can online check the recent updates, next hearing date & assigned lawyer on the case.</p>
                <p class="fs-6 fw-semibold text-secondary"><b>Expert Advocates/Associates -</b> You can easily choose the expert advocates or associates who are experts in different legal matters & years of experience in handling.</p>
                <p class="fs-6 fw-semibold text-secondary"><b>Free Legal Advice -</b> You can get basic advice from our advisors on call without any fees. Also, you can consult the expert advisor from the legal experts.</p>
                    <p class="fs-6 fw-semibold text-secondary"><b>Quick Legal Support -</b> It is a fast & hassle-free process to get legal assistance from the best legal advisors.</p>
                        <p class="fs-6 fw-semibold text-secondary"><b>100+ Verified Associates -</b> There are more than 100 Associates are connected with us. They all belong to different places in India. People facing problems all over India can directly get assistance.
        
            </div>
    </div>
</div>
</div>





