<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row bg-dark">
                <div class="col-md-4 login-space bg-dark">
                    <div class="text-center">
                        <img src="./assets/logo/law-logo.png" alt="" class="logo mt-5">
                    </div>
                    <div class="card mt-4 mb-5">
                        <h5 class="text-center mt-4 fw-bold">Login To Your Account</h5>
                        <p class="text-secondary text-center mb-4">Don't Have An Account? <a href=""
                                class="text-primary text-decoration-none" routerLink="/signup">Register</a></p>
                        <form>
                            <div class="container">
                                <div class="row  mb-3 g-4">

                                    <div class="col-md-12">
                                        <input type="email" class="form-control text-secondary"
                                            id="formGroupExampleInput" placeholder="Email" required>
                                    </div>

                                    <div class="col-md-12">
                                        <input type="password" class="form-control text-secondary" id="inputPassword4"
                                            placeholder="Password" required>
                                    </div>
                                    <div class="col-md-12">

                                        <select id="inputState" class="form-select text-secondary">
                                            <option selected>Select Role</option>
                                            <option>Advocate</option>
                                            <option>Admin</option>
                                           

                                        </select>
                                    </div>
                                    <div class="col-md-12 text-end">
                                        <a href="" class="text-primary text-decoration-none" routerLink="/forget-password"><i
                                                class="fa fa-lock text-secondary" aria-hidden="true" ></i> Forget
                                            Password?</a>
                                    </div>


                                    <div class="text-center">
                                        <button type="button" class="btn btn-light appointment-btn text-white fw-bold"
                                            style="background-color: #223a66;" routerLink="/home">&nbsp; &nbsp; Submit
                                            &nbsp;
                                            &nbsp;</button>
                                    </div>
                                </div>
                            </div>
                        </form>


                    </div>

                </div>
                <div class="col-md-8">
                    <img src="/assets/about us/1200px-HistoricMNsupreme.jpg" alt="" class="login-img login-img">
                </div>
            </div>
        </div>
    </div>
</div>