<app-header></app-header>
<div class="service-bg">
    <p class="fs-5 fw-bold text-white text-center service-h1">Our Service</p>
    <h1 class="fs-1 fw-bold text-white text-center">What We Do</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="fw-bold  h1 mt-5">We Treat Our <br>Client Like Family..........</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="text-center">
                <img src="/assets/service/guardianship.jpg" alt="guardianship" class="icon">
                <h4 class=" fw-bold" style="color: #223a66;">Guardianship</h4>
            </div>
        </div>
        <div class="col-md-8">

            <p class=" fw-bold guardian">A guardian is a person who is appointed to look after another person or his
                property. He or she assumes the care and protection of the person for whom he/she is appointed the
                guardian. The guardian takes all legal decisions on behalf of the person and the property of the ward.
                The occasion for taking care of another person may be his minority that is, a person who has not
                completed 18 years of age.
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="text-center ">
                <img src="/assets/service/divorce.png" alt="guardianship" class="divorce">
                <h4 class=" fw-bold" style="color: #223a66;">Divorce And Separation</h4>
            </div>
        </div>
        <div class="col-md-8">

            <p class=" fw-bold guardian">25 Separated wife deemed spinster for purposes of contract and suing. In every
                case of a judicial separation under this Act, the wife shall, whilst so separated, be considered as an
                unmarried woman for the purposes of contract, and wrongs and injuries, and suing and being sued in any
                civil proceedings; and her husband shall not be liable in respect of any contract, act or costs entered
                into, done, omitted or incurred by her during the separation
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="text-center">
                <img src="/assets/service/child-custody.png" alt="guardianship" class="child">
                <h4 class=" fw-bold" style="color: #223a66;">Child Custody</h4>
            </div>
        </div>
        <div class="col-md-8">

            <p class=" fw-bold guardian"> The right of custody of a Hindu child is dealt by the Hindu Minority and
                Guardianship Act, 1956 together with the Guardians and Wards Act, 1890. The two statutes have to be read
                harmoniously and the enforcement of one at the cost of the other is not permissible.The custody of a
                child below the age of 5 should be given to the mother as it is believed that the child of such a tender
                age needs affection and love which can only be provided by the mother.
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="text-center">
                <img src="/assets/service/order-prodection.png" alt="guardianship" class="divorce">
                <h4 class=" fw-bold" style="color: #223a66;">Order Of Protection</h4>
            </div>
        </div>
        <div class="col-md-8">

            <p class="fw-bold guardian">Restraining order against someone can be obtained from the court if the person
                is harassing you or putting you or your life in danger. Section 38(3) of Specific Relief Act lays down
                the conditions in which Permanent Injunction can be granted by Court. However, concept of restraining
                order is still underdeveloped. A restraining order is an order granted by a court to protect a person
                from some danger or apprehension of danger from someone.
            </p>
        </div>
    </div>
</div>



<div class="Consult-bg ">
    <h1 class="fs-1 fw-bold text-white  mt-5 pt">We are pleased to offer <br> you the <span style="color: #223a66;" > chance to solve the Case <br> and Clarify Your Doubts</span> </h1>
   
        <button type="button" class="btn btn-light appointment-btn text-white fw-bold"
            style="background-color: #223a66;" routerLink="/lawyer">&nbsp; &nbsp; Get Appoinment &nbsp; &nbsp; <i
                class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp; &nbsp;</button>
    
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="fw-bold  h1 mt-5 " style="color: #223a66;">WHAT WE ARE EXPERT AT !..</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row ">
        <div class="col-md-4 mt-3">
            <div class="card text-center" >
                <img src="/assets/service/civil-law.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center fw-bold" style="color: #223a66;">Civil Law</h5>
                  <p class="fw-semibold icon-p">Civil law defines the rights and responsibilities of individuals,
                    government entities and private or non-government organisations in their interactions
                    witheach other. A breach of a civil law.</p>
                </div>
              </div>
        </div>

        <div class="col-md-4 mt-3">
            <div class="card">
                <img src="/assets/service/family-law.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center fw-bold" style="color: #223a66;">Family Law</h5>
                  <p class="fw-semibold icon-p">Family law as the name suggests, is the branch of law covering all disputes or
                    unresolved differences occurring within families under the Indian law. This branch of
                    law includes different of the family law</p>
                </div>
              </div>
        </div>

        <div class="col-md-4 mt-3">
            <div class="card text-center" >
                <img src="/assets/service/criminal-law.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center fw-bold" style="color: #223a66;">Criminal Law</h5>
                  <p class="fw-semibold icon-p">The term criminal law means crimes that may establish punishments. In
                    contrast, Criminal Procedure describes the process through which the criminal laws are
                    enforced. For example, the criminal law</p>
                </div>
              </div>
        </div>

      
    </div>

    <div class="row">

        <div class="col-md-4 mt-3">
            <div class="card text-center" >
                <img src="/assets/service/company-law.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center fw-bold" style="color: #223a66;">Company Law</h5>
                  <p class="fw-semibold icon-p">The word 'Company' is an amalgamation of the Latin word 'Com' meaning
                    "with or together" and 'Pains' meaning "bread". originally, it referred to a group of
                    persons who took their meals</p>
                </div>
              </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card text-center">
                <img src="/assets/service/industrial-law.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center fw-bold" style="color: #223a66;">Industrial Law</h5>
                  <p class="fw-semibold icon-p">Industrial Laws help to put an end to unfair labour practices and
                    provides for the rights, privileges, obligations and responsibilities of the workforce.
                    Industrial legislation helps both workers are the</p>
                </div>
              </div>
        </div>

       

        <div class="col-md-4 mt-3">
            <div class="card" >
                <img src="/assets/service/corporate-law.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center fw-bold" style="color: #223a66;">Corporate Law</h5>
                  <p class="fw-semibold icon-p">A corporation is a legal entity created under state law, usually for
                    the purpose of conducting business. The law treats a corporation as a person that can
                    sue or be sued. A corporate law is  law treats </p>
                </div>
              </div>
        </div>
    </div>
</div>
<app-footer></app-footer>