.service-bg{
    background: url("/assets/about us/service.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 0.9;
    height: 280px;
 
}
.service-h1{
    padding-top: 100px;
   
}

.icon{
    width: 200px;
   
}
.guardian{
    text-align: justify;
}
.divorce{
    width: 80px;
}
.child{
    width: 150px;
}

.Consult-bg{
    background: url("/assets/about us/Doctor-Lawyer.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 400px; 
}

.appointment-btn{
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    margin-left: 120px;
}
.pt{
    padding-top: 80px;
    padding-left: 50px;
}


.card{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.icon-p{
    text-align: justify;
}
.card-img-top{
    padding: 10px;
    height: 250px;
    width: 100%;
}