<!-----------------------------------------------------Banner Carousel----------------------------------------------------------->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>

    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/carousel-img/carousel-1.jpeg" class="d-block w-100 " alt="...">
            <div class="carousel-caption ">
                <h5>NEED ANY HELP</h5>
                <p>Consult Best Lwayers / Law Firms in India</p>
                <p>FindMyLawyer Is A Tech-Legal Platform That Connects Clients To Freelance Attorneys In The TS. It Is
                    Designed To Assist Clients In Finding The Specific Type Of Counsel For Their Legal Problems Or
                    Business Needs. Through FindMyLawyer, Ordinary People Can Have Access To Legal Assistance Outside
                    The Traditional Law Firm Model.
                </p>
                <button type="button" class="btn btn-warning mt-2" routerLink="/lawyer"><b>Talk To a Lawyer</b></button>
                &nbsp; &nbsp;<button type="button" class="btn btn-warning mt-2"  routerLink="/Contact"><b>Ask a Free Question</b></button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/carousel-img/carousel-2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption ">
                <h5>Choose An Area Of Law To Find Top-Rated Attorneys Near You.

                </h5>
                <p class="text-dark">Decisions Criminal Defence Lawyers</p>
                <p class="text-dark">If You've Been Charged With A Criminal Or Traffic Offence You Don't Have To Face It
                    Alone. The Outcome Of Your Court Case Might Be Life Changing, So Give Yourself The Best Possible
                    Chance With One Of Our Traffic Defence Lawyers Or Criminal Defence Lawyers.
                </p>
                <button type="button" class="btn btn-warning mt-2" routerLink="/lawyer"><b>Talk To a Lawyer</b></button>
                &nbsp; &nbsp;<button type="button" class="btn btn-warning mt-2" routerLink="/Contact"><b>Ask a Free Question</b></button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/carousel-img/carousel-3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption ">
                <h5>Your legal Solution Start Here Decision Criminal Defense Lawyers
                </h5>
                <p>We Help You To Consult With The Well Experienced Team Of Lawyers, Researchers & Experts Carry Daily
                    Research On All Latest Current & New Law, Judgments & Court Decisions And Allows To Hire The Best
                    Lawyers In India For District Courts, High Court & Supreme Court Matters.
                </p>
                <button type="button" class="btn btn-warning mt-2" routerLink="/lawyer"><b>Talk To a Lawyer</b></button>
                &nbsp; &nbsp;<button type="button" class="btn btn-warning mt-2" routerLink="/contact"><b>Ask a Free Question</b></button>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-------------------------------------------------------------end ---------------------------------------------------------------->





<!-------------------------------------------------------------------- Card Section ------------------------------------------->


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card height">
                <div class="card-body">
                    <div class="text-center mb-2">
                    <h5 class="card-title"><i class="fa fa-2x fa-user card-text" aria-hidden="true"></i></h5>

                    <p class="card-text fw-semibold"> 24 Hours Service</p>
                    </div>
                    <h5 class="card-text fw-bold">Online Appinment</h5>

                    <p class="card-text fw-semibold">Get All Time Support For Emergency. We Have Introduced the priciple
                        of Law of Court</p>


                    <p class="card-text fw-semibold">Get All Time Support For Emergency. We Have Introduced the priciple
                        of Law of Court</p>
                    <div class="text-center">
                        <a href="#" class="btn  btn-primary" routerLink="/lawyer"> MAKE A APPOINMENT</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card height">
                <div class="card-body">
                    <div class="text-center mb-2">
                    <h5 class="card-title"><i class="fa fa-clock-o fa-2x fw-bold card-text" aria-hidden="true"></i></h5>

                    <p class="card-text fw-semibold">Timing Schedule</p>
                    </div>
                    <h5 class="card-text fw-bold">Working Hours</h5>

                    <p class="card-text text-center">sun - wed: 08:00 - 17:00</p>
                    <p class="card-text text-center">Thu - Fri: 09:00 - 17:00</p>
                    <p class="card-text text-center ">sun - wed: 10:00 - 17:00</p>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card height">
                <div class="card-body">
<div class="text-center mb-2">
                    <h5 class="card-title"><i class="fa fa-phone fa-2x fw-bold card-text" aria-hidden="true"></i>
                    </h5>
                    <p class="card-text fw-semibold">Emergency Cases</p>
                    </div>
                    <h5 class="card-text fw-bold">+1469-765-8765</h5>
                    <p class="card-text fw-semibold">Get All Time Support For Emergency. We Have Introduced the priciple
                        of Law of Court. In Case Any Emergency Please Get Connected With Us.</p>

                </div>
            </div>
        </div>
    </div>
</div>


<!-------------------------------------------------------------------------end -------------------------------------------------->

<!-----------------------------------------------------------------------Service ------------------------------------------------->

<div class="container ">
    <div class="row mt-5 pt-5">
        <div class="col-md-4">
            <h1 class="card-text fw-bold personal text-center"> Personal Care & <br> Problem Solving </h1> <br>
            <p class="card-text text-center fw-semibold">“We are not a law firm, do not provide any legal services,
                legal advice or "Lawyer referral services" and do not provide or participate in any legal
                representation.”</p> <br>
            <div class="text-center mb-5">
                <a href="#" class="btn  fw-bold btn-primary" routerLink="/service"> &nbsp; &nbsp;Services &nbsp; &nbsp; <i
                        class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp; &nbsp;</a>
            </div>
        </div>
        <div class="col-md-4">
            <img src="/assets/satification/img-02.jpg" alt="service-img-2" class="service">
            <img src="/assets/satification/img-3.jpg" alt="service-img-3" class="service img-2"> <br> <br>
        </div> 
        <div class="col-md-4">
            <img src="/assets/satification/img-1.jpg" alt="service-img-2" class="service">
            <img src="/assets/satification/img-04.jpg" alt="service-img-4" class="service img-2">
        </div>
        
    </div>
</div>

<!-----------------------------------------------------------------------end ------------------------------------------------------>


<!-------------------------------------------------------------------------Expert------------------------------------------->
<div class="bg-light">
    <div class="container space">
        <div class="row ">
            <div class="col-md-5">
                <h6 class="card-text fw-bold">WHAT WE ARE EXPERT AT</h6> <br>
                <h1 class="text-dark fw-bold">Why Clients Choose Us?</h1>
            </div>
            <div class="col-md-7">
                <p class="fs-6 fw-semibold text-secondary">FindMyLawyer is an interactive online platform that makes it
                    faster and easier
                    to find and hire Top Rated Lawyers in any city / court in India, because you deserve access to
                    first-rate, professional legal advice from Top Rated Lawyers out there. We are on a mission to make
                    the
                    legal experience remarkable by making legal services high quality, cost-effective and on-demand for
                    every need.</p>
                <p class="fs-6 fw-semibold text-secondary">We are not a law firm, do not provide any legal services,
                    legal advice or
                    "Lawyer referral services" and do not provide or participate in any legal representation.</p>
            </div>
        </div>



        <div class="row">
            <div class="col-md-4">
                <div class="card padding">
                    <div class="row text-center">
                        <div class="col-md-2"><img src="/assets/icon/bill.svg" alt="" class="icon"></div>
                        <div class="col-md-10">
                            <h4 class="fw-bold" style="color: #223a66;">Civil Law</h4>
                            <p class="fw-semibold icon-p">Civil law defines the rights and responsibilities of individuals,
                                government entities and private or non-government organisations in their interactions
                                witheach other. A breach of a civil law.</p>
                            <a href="https://en.wikipedia.org/wiki/Civil_law_(legal_system)" target="_blank" class="btn card-text fw-bold"> Read More </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card padding">
                    <div class="row text-center">
                        <div class="col-md-2"><img src="/assets/icon/450202.svg" alt="" class="icon"></div>
                        <div class="col-md-10">
                            <h4 class="fw-bold" style="color: #223a66;">Criminal Law</h4>
                            <p class="fw-semibold icon-p">The term criminal law means crimes that may establish punishments. In
                                contrast, Criminal Procedure describes the process through which the criminal laws are
                                enforced. For example, the criminal law</p>
                            <a href="https://en.wikipedia.org/wiki/Criminal_law" target="_blank" class="btn card-text fw-bold"> Read More </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card padding">
                    <div class="row text-center">
                        <div class="col-md-2"><img src="/assets/icon/lawyer-svgrepo-com.svg" alt="" class="icon"></div>
                        <div class="col-md-10">
                            <h4 class="fw-bold" style="color: #223a66;">Family Law</h4>
                            <p class="fw-semibold icon-p">
                                Family law as the name suggests, is the branch of law covering all disputes or
                                unresolved differences occurring within families under the Indian law. This branch of
                                law includes different of the family law</p>
                            <a href="https://en.wikipedia.org/wiki/Family_law" target="_blank" class="btn card-text fw-bold"> Read More </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card padding">
                    <div class="row text-center">
                        <div class="col-md-2"><img src="/assets/icon/criminal.png" alt="" class="icon"></div>
                        <div class="col-md-10">
                            <h4 class="fw-bold" style="color: #223a66;">Industrial Law</h4>
                            <p class="fw-semibold icon-p">Industrial Laws help to put an end to unfair labour practices and
                                provides for the rights, privileges, obligations and responsibilities of the workforce.
                                Industrial legislation helps both workers are the</p>
                            <a href="https://en.wikipedia.org/wiki/Labour_law" target="_blank" class="btn card-text fw-bold"> Read More </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card padding">
                    <div class="row text-center">
                        <div class="col-md-2"><img
                                src="/assets/icon/court-order-justice-court-of-appeals-svgrepo-com.svg" alt=""
                                class="icon"></div>
                        <div class="col-md-10">
                            <h4 class="fw-bold" style="color: #223a66;">Company Law</h4>
                            <p class="fw-semibold icon-p">The word 'Company' is an amalgamation of the Latin word 'Com' meaning
                                "with or together" and 'Pains' meaning "bread". originally, it referred to a group of
                                persons who took their meals</p>
                            <a href="https://en.wikipedia.org/wiki/Indian_company_law" target="_blank" class="btn card-text fw-bold"> Read More </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card padding">
                    <div class="row text-center">
                        <div class="col-md-2"><img src="/assets/icon/4219982-200.png" alt="" class="icon"></div>
                        <div class="col-md-10">
                            <h4 class="fw-bold" style="color: #223a66;">Corporate Law</h4>
                            <p class="fw-semibold icon-p">A corporation is a legal entity created under state law, usually for
                                the purpose of conducting business. The law treats a corporation as a person that can
                                sue or be sued. A corporate law is The law treats a corporation</p>
                            <a href="https://en.wikipedia.org/wiki/Corporate_law" target="_blank" class="btn card-text fw-bold"> Read More </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
<!-----------------------------------------------------------------------------end ------------------------------------------------>


<!---------------------------------------------------------------------Appointment------------------------------------------------->

<div class="container appointment-top">
    <div class="row">
        <div class="col-md-5">
            <img src="/assets/appointment/sales-appointment.jpg" alt="" class="Appointment-img img-fluid">
        </div>
        <div class="col-md-7 appointment-form">
            <h1 class="fw-bold fs-1 text-center" style="color: #223a66;">Book Appoinment</h1>
            <p class="text-secondary text-center">“Being on time to appointments and meetings is a phase of
                self-discipline and an evidence of self-respect.

            </p>

            <form class="row">
                <div class="col-md-6 mt-4">

                    <select id="inputState" class="form-select fw-bold bg-light text-secondary">
                        <option selected>Choose Case</option>
                        <option>Civil Law</option>
                        <option>Criminal Law</option>
                        <option>Family Law</option>
                        <option>Industrial Law</option>
                        <option>Company Law</option>
                        <option>Corporate Law</option>
                    </select>
                </div>
                <div class="col-md-6 mt-4">

                    <select id="inputState" class="form-select fw-bold bg-light text-secondary">
                        <option selected>Choose Lawyer</option>
                        <option>Family Lawyer</option>
                        <option>Civil Lawyer</option>
                        <option>Criminal Lawyer</option>
                        <option>Corporate Lawyer</option>
                        <option>Personal Injuiry Lawyer</option>
                        <option>Real Estate Lawyer</option>
                    </select>
                </div>
                <div class="col-md-6 mt-4">

                    <input type="date" class="form-control fw-bold bg-light text-secondary" placeholder="dd/mm/yyy"
                        aria-label="First name">
                </div>
                <div class="col-md-6 mt-4">

                    <input type="time" class="form-control fw-bold bg-light text-secondary" placeholder="Time"
                        aria-label="First name">
                </div>
                <div class="col-md-6 mt-4">
                    <input type="text" class="form-control fw-bold bg-light text-secondary" placeholder="Full Name"
                        aria-label="First name">
                </div>
                <div class="col-md-6 mt-4">
                    <div class="input-group ">
                        <span class="input-group-text bg-light"><img src="/assets/icon/india (2).png" alt="" class="flag">&nbsp;+91</span>
                        <input type="tel" class="form-control fw-bold bg-light text-secondary" id="formGroupExampleInput" placeholder="Enter Your Mobile Number" required>
                    </div>
                </div>
                <div class="col-md-6 mt-4">

                    <select id="inputState" class="form-select fw-bold bg-light text-secondary">
                        <option selected>Choose State</option>
                        <option>Tamil Nadu</option>
                        <option>Kerla</option>
                        <option>Karnataka</option>
                        <option>Andhara</option>
                        <option>Madhya Pradesh</option>
                        <option>Hariyana</option>
                    </select>
                </div>
                <div class="col-md-6 mt-4">

                    <select id="inputState" class="form-select fw-bold bg-light text-secondary">
                        <option selected>Choose City</option>
                        <option>Pudukkottai</option>
                        <option>Trichy</option>
                        <option>Chennai</option>
                        <option>Kumbakonam</option>
                        <option>Karaikal</option>
                        <option>Karur</option>
                    </select>
                </div>
                <div class="col-md-12 mt-4">
                    <textarea class="form-control fw-bold bg-light text-secondary" id="exampleFormControlTextarea1"
                        placeholder="Your Message" rows="6"></textarea>
                </div>
            </form>
            <div class="text-center mt-5">
                <button type="button" class="btn btn-light appointment-btn text-white fw-bold"
                    style="background-color: #223a66;" routerLink="/lawyer">&nbsp; &nbsp; Make Appoinment &nbsp; &nbsp; <i
                        class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp; &nbsp;</button>
            </div>
        </div>
    </div>

</div>

<!-------------------------------------------------------------------------end ----------------------------------------------------->




<!-----------------------------------------------------------------------clients --------------------------------------------------->

<div class="bg-light">
    <div class="container space">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h1 class="fs-1 fw-bold" style="color: #223a66;">We Served Over 5000+ <br> Clients</h1>
                    <p class="clients-top fw-semibold text-secondary">Lets know moreel necessitatibus dolor asperiores
                        illum possimus sint voluptates incidunt <br> molestias nostrum laudantium. Maiores porro cumque
                        quaerat.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <section id="testimonials">
                    <div class="testimonials-heading">
                        <span>Comments</span>
                        <h1>Client Says</h1>
                    </div>

                    <div class="testimonials-box-container">
                        <div class="testimonial-box">
                            <div class="box-top">
                                <div class="profile">
                                    <div class="profile-img">
                                        <img src="/assets/client/img-1.png" alt="img-1">
                                    </div>
                                    <div class="name-user">
                                        <strong>Ijaz Khan</strong>
                                        <span>@infoonclickijaz</span>
                                    </div>
                                </div>
                                <div class="reviews">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                            </div>

                            <div class="client-comment">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero ad dolor inventore ab,
                                    exercitationem minima odit. Quis fugiat deserunt praesentium suscipit obcaecati
                                    laboriosam, illum reiciendis. A debitis aspernatur nulla error!</p>
                            </div>

                        </div>


                        <div class="testimonial-box">
                            <div class="box-top">
                                <div class="profile">
                                    <div class="profile-img">
                                        <img src="/assets/client/img-1.png" alt="img-2">
                                    </div>
                                    <div class="name-user">
                                        <strong>Mohammed Irsath</strong>
                                        <span>@infoonclickirsath</span>
                                    </div>
                                </div>
                                <div class="reviews">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                            </div>

                            <div class="client-comment">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero ad dolor inventore ab,
                                    exercitationem minima odit. Quis fugiat deserunt praesentium suscipit obcaecati
                                    laboriosam, illum reiciendis. A debitis aspernatur nulla error!</p>
                            </div>

                        </div>


                        <div class="testimonial-box">
                            <div class="box-top">
                                <div class="profile">
                                    <div class="profile-img">
                                        <img src="/assets/client/img-1.png" alt="img-3">
                                    </div>
                                    <div class="name-user">
                                        <strong>Wasim</strong>
                                        <span>@happenswasim</span>
                                    </div>
                                </div>
                                <div class="reviews">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                            </div>

                            <div class="client-comment">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero ad dolor inventore ab,
                                    exercitationem minima odit. Quis fugiat deserunt praesentium suscipit obcaecati
                                    laboriosam, illum reiciendis. A debitis aspernatur nulla error!</p>
                            </div>

                        </div>


                        <div class="testimonial-box">
                            <div class="box-top">
                                <div class="profile">
                                    <div class="profile-img">
                                        <img src="/assets/client/img-1.png" alt="img-4">
                                    </div>
                                    <div class="name-user">
                                        <strong>Akram</strong>
                                        <span>@Mr.jiffyakram</span>
                                    </div>
                                </div>
                                <div class="reviews">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                            </div>

                            <div class="client-comment">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero ad dolor inventore ab,
                                    exercitationem minima odit. Quis fugiat deserunt praesentium suscipit obcaecati
                                    laboriosam, illum reiciendis. A debitis aspernatur nulla error!</p>
                            </div>

                        </div>


                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<!--------------------------------------------------------------------------end------------------------------------------------------>