<app-header></app-header>
<div class="lawyer-bg">
    <h1 class="fs-1 fw-bold text-center text-dark service-h1"><span class="text-white">Book</span> Your Appoinment</h1>
</div>

<div class="container">
    <div class="box-shadow">
        <div class="row">
            <div class="col-md-12">
                <h1 class="fw-bold" style="color: #223a66;">Consult The Best Lawyer</h1>
                <p class="fw-semibold">The Payment will ensure the Lawyer will contact you as early as Possible.</p>
            </div>
        </div>

        <form class="row g-3">
            <div class="col-md-6">
                <label for="exampleTextInput" class="form-label fw-semibold">Your Name</label>
                <input type="text" class="form-control text-secondary"  id="formGroupExampleInput" placeholder="Enter Your Name" required>
            </div>
            <div class="col-md-6">
                <label for="exampleInputEmail1" class="form-label fw-semibold">Your Email</label>
                <input type="email" class="form-control text-secondary" id="formGroupExampleInput" placeholder="Enter Your Email" required>
            </div>

            <div class="col-md-6">
                <label for="exampleTextInput" class="form-label fw-semibold">Mobile Number</label>
                <div class="input-group ">
                    <span class="input-group-text bg-white"><img src="/assets/icon/india (2).png" alt="" class="flag">&nbsp;+91</span>
                    <input type="tel" class="form-control " id="formGroupExampleInput" placeholder="Enter Your Mobile Number" required>
                </div>
            </div>
            <div class="col-md-6">
                <label for="inputState" class="form-label fw-bold">City</label>
            <select id="inputState" class="form-select text-secondary">
                <option selected>Select City</option>
                <option>Pudukkottai</option>
                <option>Trichy</option>
                <option>Chennai</option>
                <option>Kumbakonam</option>
                <option>Karaikal</option>
                <option>Karur</option>
            </select>
            </div>
           

            <div class="col-md-6">
                <label for="inputState" class="form-label fw-bold">Nature Of Case</label>
            <select id="inputState" class="form-select text-secondary">
                <option selected>Select Nature Of Case</option>
                <option>Divorce</option>
                <option>Cheque Bonus</option>
              
            </select>
            </div>
            <div class="col-md-6">
                <label for="exampleTextInput" class="form-label fw-semibold">Date Of Appoinment</label>
                <input type="date" class="form-control text-secondary"  id="formGroupExampleInput" placeholder="dd-mm-yyy">
            </div>

         
           <div class="col-md-12">
            <p class="fw-bold">Consultation Fee : 250rs for 30 Mins Consultation </p>
           </div>
           


           <div class="col-md-12">
            <label for="exampleTextInput" class="form-label fw-semibold">Please Enter Your Message</label>
            <textarea class="form-control fw-bold bg-light text-secondary" id="exampleFormControlTextarea1"
                placeholder="Leave Your Message Here..." rows="6"></textarea>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">By Proceeding, you agree to our <a href="" class="text-danger text-decoration-none">Terms & Conditions</a>  and <a href="" class="text-danger text-decoration-none">Privacy Policy.</a></label>
          </div>

          <div class="text-center">
            <button type="button" class="btn btn-light appointment-btn text-white fw-bold"
                style="background-color: #223a66;">&nbsp; &nbsp; Book Appoinment &nbsp; &nbsp; <i
                    class="fa fa-chevron-right" aria-hidden="true"></i>&nbsp; &nbsp;</button>
        </div>
        </form>

    </div>
</div>
<app-footer></app-footer>